# Config & Secrets
config.py
.env
*.key
*.token

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Docker
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.*.local

